body {
    background-color: antiquewhite;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color:burlywood;
    color: olive;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: center;
    padding: 20px;
}

h1, h2, h3 {
    color: olive;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    display: flex;
    padding: 20px;
    background-color: blanchedalmond;
    border-bottom: 2px solid olive;
}

.wrapper >div{
    flex: 1;
    text-align: center;
}

.valikko {
    background-color:bisque;
    color: olivedrab;
    border-right: 2px solid olive;
    width: 15%;
    float: left;
    text-align: left;
    font-size: 1vw;
    height: 200vh;
    margin-right: 30px;
    margin-left: none;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}

main {
    margin-top: 30px;

}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: olive;
    padding: 20px; 
}
figure {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: olive;
    padding: 20px;
    margin: auto;
}

.border {
    float:right;
    margin-right: 30px;
    margin-top:100px;
    width: 40%;
    border-right: 2px solid olive;
    border-radius: 20px;
    padding: 50px;
    background-color:blanchedalmond;
}
footer {
    padding: 20px;
    background-color: bisque;
    color: olive;
    clear: both;
    z-index: 2;
    text-align: center;
}
.vasen {
    width: 40%;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}
.oikea {
    width: 40%;
    float: right;
    margin-left: 30px;
}

