
body {
    background-color: white;
    background-image: url("marble-3534940_1280.jpg");
}


h1 {
    text-align: center;
    color: rgb(18, 95, 102);
    margin-top: 100px;
    margin-bottom: 30px;
    
}

ul {
    display: none;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

h5 {
    color: gray;
    font-size: x-large;
    background-color: white;
}

p {
    color: gray;
    font-size: 20px;
    background-color: white; 
    

}
.col-4 {
    margin-top: 100px;
}
.esittely {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;

}
.frontti {
    padding: 30px;
    text-align: center;
   
    margin-top: 50px;
    width: 100%;
    min-height: 200px;

}
footer {
    
    background-color: whitesmoke;
    margin-top: 20px;
    font-size: 10px;
    padding: 20px;
    
}

.info {
    font-size: 15px;
    background-color: whitesmoke;

}
.alue {
    font-size: 15px;
    background-color: whitesmoke;
    text-align: center;
}
.col-md-6 {
    text-align: center;
}
.col-md-2 {
    text-align: right;
}

table {
    background-color: white;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    border: 0;
}
img {
    margin-top: 50px;
    max-width: 1500px;
    width: 100%;
}
.mb-3 {
    margin-left: 50px;
    margin-right: 50px;
}

a:link {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(18, 95, 102);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: bisque;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: bisque;
    background-color: transparent;
    text-decoration: underline;
  }
  #yhteystiedot {
    font-size: 15px;
    margin-left: 50px;
  }
  .caption {
    margin-left: 50px;
  }
  .tarjous {
    background-color: gray;
    color: white;
    border: none;
    padding: 30px;
  }
  i {
    font-size: 25px;
  }

.sample {
    float: left;
 }
 figure {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
 }
 #carouselExampleCaptions {
    max-width: 400px;
    max-height: 600px;
    width: 100%;
    margin: auto;
    
 }
 .pexels {
    max-width: 1200px;
    max-height: 800px;
 }









